
.move{
    animation: moving 1s -1s infinite;
}

.spin{
    animation: spin-right 10s linear 1;
}

.counter-spin-0{
    animation: counter-spin 10s linear 1;
}

.counter-spin-1{
    animation: counter-spin-react 10s linear 1;
}

.counter-spin-2{
    animation: counter-spin-js 10s linear 1;
}

.counter-spin-3{
    animation: counter-spin-node 10s linear 1;
}

.counter-spin-4{
    animation: counter-spin-php 10s linear 1;
}

.counter-spin-5{
    animation: counter-spin-css 10s linear 1;
}

.counter-spin-6{
    animation: counter-spin-symf 10s linear 1;
}

.counter-spin-7{
    animation: counter-spin-boot 10s linear 1;
}

.counter-spin-8{
    animation: counter-spin-sass 10s linear 1;
}

.counter-spin-9{
    animation: counter-spin-mysql 10s linear 1;
}