@import "../components/keyframes.css";
@import "../components/animations.css";

#apropos{
    height: 100vh;
    position: relative;
    background-image: url("../img/background-apropos.jpg");
    background-size: cover;
    background-position: center;
}

#apropos h3{
    position: absolute;
    top: 13.5%;
    left: 50%;
    transform: translate(-50%);
    font-size: 2rem;
    color: var(--navColor);
    border-bottom: solid 4px darkgreen;
}

.menu-item h4{
    font-weight: lighter;
    font-family: "VT323","Roboto","sans-serif";
    font-size: 1.5em;
    text-align: center;
}
.counter-spin-7,
.counter-spin-6,
.counter-spin-5,
.counter-spin-4,
.counter-spin-3{
    color: var(--navFontColor);
}

.counter-spin-0,
.counter-spin-9,
.counter-spin-8,
.counter-spin-2,
.counter-spin-1{
    color: var(--navColor);
}

.description p{
    margin-bottom: 2rem;
    color: var(--navFontColor);
}

.competences ul, .competences p{
    margin-bottom: 1.5rem;
    color: var(--navColor);
}

.competences li{
    text-align: left;
    font-style: italic;
    margin-left: 3.5rem;
    list-style-type:'- ';
}

.description a{
    font-family: "mars", "Roboto","sans-serif";
    text-transform: uppercase;
    color: var(--navFontColor);
}

.description a:hover{
    color: deepskyblue;
}


.competences, .description{
    width: 30vw;
    height: 65vh;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 3vw;
    padding: 0 2.5rem;
    font-size: 1.1rem;
    font-weight: lighter;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 1.25rem;
    font-family: "mars", "Roboto","sans-serif";
    position: relative;
    top: 10vh;
}

.side-container{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.emphase{
    font-size: 1.17rem;
    font-family: "mars","Roboto","sans-serif";
}

.fullstack{
    font-weight: bolder;
    font-size: 1.1rem;
    font-family: "mars","Roboto","sans-serif";
    display: inline-block;
}
/* circular-menu */

.svg-inline--fa{
    vertical-align: -0.3em;
}

.container{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.menu{
    position: relative;
    height: 115px;
    width: 115px;
}

.button{
    background-color: black;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: 100;
}

.menu-item{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    transition: transform 500ms ease;
}

.photo{
    height: 200px;
    width: 200px;
    background-image: url("../img/thi.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 44%;
    left: 43%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media screen and (min-device-width: 1537px){
    #apropos h3{
        top: 17vh;
    }

    .description, .competences{
        height: 45vh;
        top: 5%;
    }
}

@media only screen and (min-width: 1280px) and (max-device-width: 1439px){
    #apropos h3{
        color: var(--navFontColor);
    }
    .description p, .competences p{
        font-size: 1.10em;
    }
    .competences li{
        font-size: 1.0em;
    }
    .fullstack{
        font-size: 1.0em;
    }
    .emphase{
        font-size: 0.9em;
    }

    .description, .competences{
        padding: 1rem;
        margin: 0;
    }
}

@media only screen and (min-device-width: 700px) and (max-device-width: 1024px){

    #apropos{
        height: 120vh;
    }

    #apropos h3{
        color: var(--navFontColor);
        top: 2vh;
    }
    .description,.competences {
        width: 62vw;
        height: 27vh;
        margin: 0 1vw;
        padding: 0 1vw;
        overflow: scroll;
    }

    .description{
        top: -4vh;
    }
    .competences{
        top: 14vh;
        left: 36vw;
    }
    .side-container{
        flex-wrap: wrap;
    }

    .photo{
        top: 47%;
    }
    .counter-spin-3{
        color: var(--navColor);
    }
}

@media only screen and (min-device-width: 332px) and (max-device-width: 699px){
    #apropos{
        height: 200vh;
    }

    #apropos h3{
        color: var(--navFontColor);
        top: 2vh;
    }
    .description,.competences {
        width: 90vw;
        height: 65vh;
        overflow: scroll;

    }
    .description{
        top: -9vh;
    }
    .competences{
        top: 17vh;

    }
    .side-container{
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }
    .counter-spin-3{
        color: var(--navColor);
    }

    .photo{
        height: 125px;
        width: 125px;
        top: 50%;
    }

    .menu-item{
        height: 75%;
        width: 75%;
        left: 10%;
        top: 15%;
    }

    .counter-spin-3, .counter-spin-8{
        color: var(--navFontColor);
    }
}

@media only screen and (max-device-width: 332px){
    #apropos{
        height: 200vh;
    }

    #apropos h3{
        color: var(--navFontColor);
        top: 2vh;
        width: 100%;
        text-align: center;
    }
    .description,.competences {
        width: 90vw;
        height: 65vh;
        overflow: scroll;
    }
    .description{
        top: -9vh;
    }
    .competences{
        top: 16vh;
    }
    .side-container{
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }
    .counter-spin-3{
        color: var(--navColor);
    }

    .photo{
        height: 125px;
        width: 125px;
        top: 50%;
    }

    .menu-item{
        height: 75%;
        width: 75%;
        left: 10%;
        top: 15%;
    }

    .counter-spin-3, .counter-spin-8{
        color: var(--navFontColor);
    }
}

@media screen and (orientation:landscape)and (min-device-width: 319px) and (max-device-width: 799px){
    #apropos{
        height: 400vh;
    }
    #apropos h3{
        top: 25vh;
    }
    .description, .competences{
        height: 25%;
    }
    .competences{
        top: 40vh;
    }
}