@import "../components/keyframes.css";
@import "../components/animations.css";

#apropos{
    height: 100vh;
    position: relative;
    background-image: url("../img/test.jpg");
    background-size: cover;
    background-position: center;
}

#apropos h3{
    position: absolute;
    top: 13.5%;
    left: 50%;
    transform: translate(-50%);
    font-size: 2rem;
    color: var(--navColor);
    border-bottom: solid 4px darkgreen;
}

.menu-item h4{
    font-weight: lighter;
    font-family: "VT323","Roboto","sans-serif";
    font-size: 1.5em;
    color: var(--navColor);
    text-align: center;
}

.description p{
    margin-bottom: 2rem;
    color: var(--navFontColor);
}

.description p:first-child{
    margin-top: 1.5rem;
}
.competences p:first-child {
    margin-top: 1.5rem;
}
.competences ul, .competences p{
    margin-bottom: 1.5rem;
    color: var(--navColor);
}

.competences li{
    text-align: left;
    font-style: italic;
    margin-left: 3.5rem;
    list-style-type:'- ';
}

.description{
    font-family: "mars", "Roboto","sans-serif";
    position: relative;
    top: 10vh;
}

.competences{
    font-family: "mars", "Roboto","sans-serif";
    position: relative;
    top: 10vh;
}

.competences, .description{
    width: 30vw;
    height: 60vh;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 3vw 0 3vw;
    padding: 0 2.5rem;
    font-size: 1.2rem;
    font-weight: lighter;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 1.25rem;
    overflow: scroll;
}

.side-container{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.emphase{
    font-size: 1.3rem;
    font-family: "mars","Roboto","sans-serif";
}

.fullstack{
    font-weight: bolder;
    font-size: 1.1rem;
    font-family: "mars","Roboto","sans-serif";
    display: inline-block;
}
/* circular-menu */

.svg-inline--fa{
    vertical-align: -0.3em;
}


.container{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.menu{
    position: relative;
    height: 115px;
    width: 115px;
}

.button{
    background-color: black;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: 100;
}

.menu-item{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    transition: transform 500ms ease;

}

.photo{
    height: 200px;
    width: 200px;
    background-image: url("../img/thi.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}