.svg-inline--fa{
    vertical-align: -0.3em;
}
#apropos{
    height: 100vh;
    border: 5px solid chartreuse;
    position: relative;
}

#apropos h3{
    text-transform: uppercase;
    text-align: center;
    margin: 3rem 0 1.4rem 0;
    font-size: 1.4rem;
}

.description{
    padding: 1.4rem;
    text-align: center;
    border: 2px solid red;
}

.photo{
    position: relative;
    height: 200px;
    width: 200px;
    background-image: url("../img/thi.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 5vh auto;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-menu li{
    position: absolute;
    top: 50%;
    left: 50%;
}

.circle-menu.active{
    opacity: 1;
    visibility: visible;
    transition: 1000ms ease-in-out;
}

.circle-menu.inactive{

    opacity: 0;
    visibility: hidden;
    transition: 1000ms ease-in-out;
}
