
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.menu{
    position: relative;
    height: 115px;
    width: 115px;
}

.button, .menu-item{
    position: absolute;
    left: 0;
    top: 0;
}

.button{
    background-color: black;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: 100;
}

.menu-item{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    transition: transform 500ms ease;
}

.photo{
    height: 200px;
    width: 200px;
    background-image: url("../img/thi.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);

}