.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.menu{
    position: relative;
    height: 144px;
    width: 144px;
}

.button, .menu-item{
    position: absolute;
    left: 0;
    top: 0;
}

.button{
    background-color: black;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: 100;
}

.menu-item{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    background-color: lightblue;
    transition: transform 500ms ease;
}