#contact{
    height: 100vh;
    background-color: var(--navFontColor);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#contact h3{
    display: inline-block;
    font-size: 2rem;
    color: var(--navColor);
    border-bottom: solid 4px darkgreen;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%);
}

#contact a, #contact p{
    margin: 1rem;
    font-family: "mars","Roboto","sans-serif";
    font-size: larger;
}

.input-container{
    justify-content: center;
}

input[type=text], input[type=email], textarea{
    width: 35vw;
    padding: 3px 0 3px 35px;
    font-family: "mars","Roboto","sans-serif";
    font-size: 1rem;
    margin-bottom: 3px;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus{
    border: 2px solid darkgreen;
    outline: 0;
}

textarea{
    height: 20vh;
}

input[type=submit]{
    padding: 4px 16px;
    background-color: white;
    font-family: "mars","Roboto","sans-serif";
    border-radius: 5px;
}

input[type=submit]:hover{
    background-color: honeydew;
}

label{
    position: absolute;
    margin-left: 0.75vw;
    margin-top: 0.5vh;
}

form{
    text-align: center;
}

.form-container{
    margin-top: 6rem;
    text-align: center;
}

.footer{
    background-color: var(--navColor);
    color: var(--navFontColor);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;
}

.footer img{
    margin-left: 1rem;
}

@media screen and (aspect-ratio: 16/9){
    #contact h3{
        margin-top: 1vh;
    }

    #contact p{
        margin-top: 13vh;
    }

    .form-container{
        margin-top: -8vh;
    }
}

@media only screen and (min-device-width: 700px) and (max-device-width: 1024px){
    #contact{
        height: 60vh;
    }
    #contact h3{
        top: 4vh;
    }

    .form-container{
        margin: 0;
        position: absolute;
        top: 10vh;
    }

    input[type=text], input[type=email], textarea{
        width: 66vw;
    }
}