@import "colors.css";

header{
    background-color: var(--navColor);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    font-family: "mars","Roboto","sans-serif";
}

.logo{
    height: 1.25em;
    vertical-align: -0.2em;
}

.main-nav{
    display:flex;
    text-transform:uppercase;
    align-items: center;
}

.nav-li{
    padding: 0 1em;
    font-size: larger;
}

.nav-li a {
    color: var(--navFontColor);
}
#navbar{
    position: sticky;
    top: 0;
    z-index: 1000;
}

#banner{
    position: relative;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    height: 92vh;
    background-attachment: fixed;
}

.smoke-container, .smoke-container-2, .smoke-container-3{
    background-image: url("../img/smoke.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 63vw;
    position: absolute;
    display: block;
    top: 17.5vh;
    width: 80vw;
    height: 30vh;
}

.smoke-container{
    animation: smoke1 10s linear infinite;
}

.smoke-container-2{
    animation: smoke2 10s linear infinite;
}

.smoke-container-3{
    animation: smoke3 10s linear infinite;
}

.banner-content{
    color: var(--navFontColor);
    position: absolute;
    top: 2vh;
    left: 50vw;
    transform: translate(-50%);
    text-align: center;
    font-size: 1.4rem;
    text-transform: capitalize;
    font-family: "mars","Roboto","sans-serif";
    background-color: var(--navColor);
    opacity: 0.9;
    width: 66vw;
    padding: 5px 0;
    border: solid 2px var(--navFontColor);
    border-radius: 1.25rem;
}