@import "colors.css";

header{
    background-color: var(--navColor);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    font-family: "mars","Roboto","sans-serif";
}

.logo{
    height: 1.25em;
    vertical-align: -0.2em;
}

.main-nav{
    display:flex;
    text-transform:uppercase;
    align-items: center;
}

.nav-li{
    padding: 0 1em;
    font-size: larger;
}

.nav-li a {
    color: var(--navFontColor);
}

#navbar{
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* ---------------- Navbar and burger menu ------------------ */

.burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.burger-bar {
    width: 3em;
    height: 0.5em;
    background-color: var(--navFontColor);
    border-radius: 0.5em;
}

.menu {
    width: 50%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -1;
}

.mob-nav .nav-li{
    position: relative;
    width: 40vw;
    margin-top: 1vh;
    padding: 0;
    top: -2vh;
    text-align: center;

}

/* ------------- sliding menu ------------------ */
.hidden {
    display: none;
}

.visible {
    display: inherit;
}

/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1){
    transform: rotate(45deg) translate(0.2em, 0.5em);
    transition: ease-out 0.5s;
    height: 0.5em;

}

.burger-bar.clicked:nth-child(2){
    transform: scale(0.1);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3){
    transform: rotate(135deg) translate(-0.2em, 0.5em);
    transition: ease-out 0.5s;
    height: 0.5em;
}

/* unclicked */
.burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
    margin: 4px;
}

#banner{
    position: relative;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    height: 92vh;
    background-attachment: fixed;
}

.smoke-container, .smoke-container-2, .smoke-container-3{
    background-image: url("../img/smoke.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 63vw;
    position: absolute;
    display: block;
    top: 16.5vh;
    width: 80vw;
    height: 30vh;
}

.smoke-container{
    animation: smoke1 10s linear infinite;
}

.smoke-container-2{
    animation: smoke2 10s linear infinite;
}

.smoke-container-3{
    animation: smoke3 10s linear infinite;
}

.banner-content{
    color: var(--navFontColor);
    position: absolute;
    top: 1vh;
    left: 50vw;
    transform: translate(-50%);
    text-align: center;
    font-size: 1.4rem;
    text-transform: capitalize;
    font-family: "mars","Roboto","sans-serif";
    background-color: var(--navColor);
    opacity: 0.9;
    width: 66vw;
    padding: 5px 0;
    border: solid 2px var(--navFontColor);
    border-radius: 1.25rem;
}

@media screen and (aspect-ratio: 16/9){
    .mobile-nav{
        display: none;
    }
    .banner-content{
        top: 7vh;
    }
}

@media only screen and (min-device-width: 1025px){
    .mobile-nav{
        display: none;
    }
}

@media only screen and (min-device-width: 1280px) and (max-width: 1439px){
    .mobile-nav{
        display: none;
    }
    .banner-content{
        top: 5.5vh;
    }
}

@media only screen and (min-device-width: 700px) and (max-device-width: 1024px){
    .mobile-nav{
        display: none;
    }
    .banner-content{
        top: 7.5vh;
    }
    .smoke-container, .smoke-container-2, .smoke-container-3{
        left: 10vh;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 580px){
    .desktop-nav{
        display: none;
    }
    .banner-content{
        font-size: 1rem;
        top: 4vh;
    }
    .smoke-container, .smoke-container-2, .smoke-container-3{
        display: none;
    }
}

@media only screen and (min-device-width: 581px) and (max-device-width: 699px){
    .desktop-nav{
        display: none;
    }
    .banner-content{
        font-size: 1rem;
        top: 6.5vh;
    }
    .smoke-container, .smoke-container-2, .smoke-container-3{
        left: 9vh;
    }
}

@media only screen and (max-device-width: 319px){
    .desktop-nav{
        display: none;
    }
    .banner-content{
        font-size: 1rem;
        top: 4vh;
        width: 98%;
        margin: 0;
    }
    .smoke-container, .smoke-container-2, .smoke-container-3{
        display: none;
    }
}