@keyframes floating {
    0%, 100% { transform: translate(-50%, -5%); }
    50% { transform: translate(-50%, 0); }
}

@keyframes spin-right {
    100% { transform: rotate(360deg); }
}

@keyframes counter-spin {
    100% { transform: rotate(-360deg); }
    25% {color: var(--navColor);}
    30% {color: var(--navFontColor); }
    60% {color: var(--navFontColor); }
    80% {color: var(--navColor);}
}

@keyframes counter-spin-react {
    100% { transform: rotate(-396deg); }
    20% {color: var(--navFontColor); }
    60% {color: var(--navFontColor); }
    70% {color: var(--navFontColor); }
    75% {color: var(--navColor);}
}

@keyframes counter-spin-js {
    100% { transform: rotate(-432deg); }
    20% {color: var(--navFontColor); }
    60% {color: var(--navFontColor); }
    62% {color: var(--navColor);}
}

@keyframes counter-spin-node {
    100% { transform: rotate(-468deg); }
    50% {color: var(--navFontColor);}
    55% {color: var(--navColor); }
    80% {color: var(--navColor); }
    98% {color: var(--navFontColor);}
}

@keyframes counter-spin-php {
    100% { transform: rotate(-504deg); }
    40% {color: var(--navFontColor);}
    42% {color: var(--navColor); }
    80% {color: var(--navColor); }
    97% {color: var(--navFontColor);}
}

@keyframes counter-spin-css {
    100% { transform: rotate(-540deg); }
    25% {color: var(--navFontColor);}
    30% {color: var(--navColor); }
    75% {color: var(--navColor); }
    80% {color: var(--navFontColor);}
}

@keyframes counter-spin-symf {
    100% { transform: rotate(-576deg); }
    20% {color: var(--navColor); }
    40% {color: var(--navColor); }
    65% {color: var(--navColor); }
    70% {color: var(--navFontColor);}
}

@keyframes counter-spin-boot {
    100% { transform: rotate(-612deg); }
    0% {color: var(--navColor);}
    50% {color: var(--navColor);}
    55% {color: var(--navColor);}
    60% {color: var(--navFontColor)}
}

@keyframes counter-spin-sass {
    100% { transform: rotate(-648deg); }
    0% {color: var(--navColor);}
    45% {color: var(--navColor);}
    50% {color: var(--navFontColor);}
    90% {color: var(--navFontColor)}
}

@keyframes counter-spin-mysql {
    100% { transform: rotate(-684deg); }
    0% {color: var(--navColor);}
    30% {color: var(--navColor);}
    35% {color: var(--navFontColor);}
    90% {color: var(--navFontColor)}
    91% {color: var(--navColor);}
}

@keyframes smoke1 {
    0% {
        filter: blur(0px);
        transform: translateY(0px) scale(1);
        opacity: 0;
    }
    25% {
        filter: blur(3px);
        transform: translateY(-10px) scale(1.05);
        opacity: 0.5;
    }
    50% {
        filter: blur(5px);
        transform: translateY(-20px) scale(1.1);
        opacity: 1;
    }
    75% {
        filter: blur(5px);
        transform: translateY(-30px) scale(1.15);
        opacity: 0.25;
    }
    100% {
        filter: blur(7px);
        transform: translateY(-40px) scale(1.2);
        opacity: 0;
    }
}

@keyframes smoke2 {
    0% {
        filter: blur(0px);
        transform: translateY(0px) scale(1);
        opacity: 0;
    }
    25% {
        filter: blur(3px);
        transform: translateY(-10px) scale(1.05);
        opacity: 0.5;
    }
    50% {
        filter: blur(5px);
        transform: translateY(-20px) scale(1.1);
        opacity: 1;
    }
    75% {
        filter: blur(5px);
        transform: translateY(-30px) scale(1.15);
        opacity: 0.25;
    }
    100% {
        filter: blur(7px);
        transform: translateY(-40px) scale(1.2);
        opacity: 0;
    }
}

@keyframes smoke3 {
    0% {
        filter: blur(0px);
        transform: translateY(0px) scale(1);
        opacity: 0;
    }
    25% {
        filter: blur(3px);
        transform: translateY(-20px) scale(1.05);
        opacity: 0.5;
    }
    50% {
        filter: blur(5px);
        transform: translateY(-40px) scale(1.1);
        opacity: 0.75;
    }
    75% {
        filter: blur(5px);
        transform: translateY(-60px) scale(1.15);
        opacity: 0.25;
    }
    100% {
        filter: blur(7px);
        transform: translateY(-80px) scale(1.2);
        opacity: 0;
    }
}