

#portfolio{
    min-height: 100vh;
    background-image: url("../img/background-portfolio.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

#portfolio h3{
    display: inline-block;
    position: relative;
    left: 50%;
    margin-top: 13vh;
    transform: translate(-50%);
    font-size: 2rem;
    color: var(--navColor);
    border-bottom: solid 4px darkgreen;
}

.projects-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5vh;
}

.projet{
    border: 8px solid var(--navColor);
    height: 30vh;
    width: 20vw;
    margin: 0 6vh 6vh;
    cursor: pointer;
    background-position: center;
    background-size: cover;
}

.projet:hover{
    border: 8px solid var(--navFontColor);
}

.underground{
    background-image: url("../img/screen1.png");
}

.newworld{
    background-image: url("../img/screen2.png");
}

.maquette-nw{
    background-image: url("../img/new-world.png");
}

.maquette-underground{
    background-image: url("../img/the-underground.png");
}

.peps{
    background-image: url("../img/screen3.png");
}

.maquette-peps{
    background-image: url("../img/peps.png");
}

.reno{
    background-image: url("../img/screen4.png");
}

.maquette-reno{
    background-image: url("../img/reno.png");
}

.wow{
    background-image: url("../img/screen5.png");
}

.maquette-wow{
    background-image: url("../img/wow.png");
}

.travel{
    background-image: url("../img/screen6.png");
}

.maquette-travel{
    background-image: url("../img/travel.png");
}

.maquette{
    background-repeat: no-repeat;
    background-size: contain;
    height: 90vh;
    width: 90vw;
    position: absolute;
    top: 10%;
    backdrop-filter: blur(5px);
}

figcaption{
    height: 28vh;
    width: 19vw;
    text-align: center;
    color: var(--navFontColor);
}

figcaption h4, figcaption p{
    background-color: var(--navColor);
    opacity: 80%;
}