

#portfolio{
    height: 100vh;
    background-image: url("../img/background-portfolio.jpg");
    background-size: cover;
    background-position: center;
}

#portfolio h3{
    display: inline-block;
    position: relative;
    left: 50%;
    top: 13%;
    transform: translate(-50%);
    font-size: 2rem;
    color: var(--navColor);
    border-bottom: solid 4px darkgreen;
}

.project-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 18vh;
}

.projet{
    border: 8px solid var(--navColor);
    height: 30vh;
    width: 20vw;
    margin: 0 6vh 6vh;
    box-shadow: 8px 10px var(--navFontColor);
    border-radius: 5%;
}

.underground{
    background-image: url("../img/screen1.png");
    background-position: center;
    background-size: cover;
}

.newworld{
    background-image: url("../img/screen2.png");
    background-position: center;
    background-size: cover;
}

.peps{
    background-image: url("../img/screen3.png");
    background-position: center;
    background-size: cover;
}

.reno{
    background-image: url("../img/screen4.png");
    background-position: center;
    background-size: cover;
}

.wow{
    background-image: url("../img/screen5.png");
    background-position: center;
    background-size: cover;
}