@import "./components/Header.css";
@import "./components/Apropos.css";
@import "./components/Portfolio.css";
@import "./components/Contact.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');/*roboto font*/
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap'); /*permanent marker font*/
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

@font-face {
  font-family: "mars";
  src: url("../src/components/fonts/MarsType-Regular.otf");
}

@font-face {
  font-family: "shineon";
  src: url("../src/components/fonts/Shineon.ttf");
}

h3{
  font-family: "Permanent Marker","Roboto","sans-serif";
  text-transform: uppercase;
}

@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}